__pycache__/
data/soma_id.duckdb
dbt/dbt_packages/
ml_models/saved_models/
.env
ml_models/saved_models/
*.pkl 
*.parquet 
examine_*
logs/
config/__pycache__
tests/__pycache__
src/__pycache__
htmlcov/*
.pytest_cache/*
src/__pycache__
.pytest_cache
config/__pycache__/
.github/workflows/*
src/web/__pycache__
src/models/__pycache__
src/data/__pycache__
src/api/__pycache__
dbt/.user.yml
dump.rdb
deployment/k8s/aws/
deployment/k8s/deploy-aws.sh