# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data files
data/soma_id.duckdb
*.pkl 
*.parquet 
examine_*

# dbt
dbt/dbt_packages/

# ML models
ml_models/saved_models/

# Environment files
.env

# Logs
logs/

# Testing
htmlcov/*
.pytest_cache/*
.pytest_cache
.coverage
.coverage.*

# GitHub workflows
.github/workflows/*
dbt/.user.yml
dump.rdb
deployment/k8s/aws/
deployment/k8s/deploy-aws.sh
src/soma_ml_platform.egg-info/

03_debug_examine_key_models.sh
04_debug_examine_kubernetes.sh 
05_debug_examine_pyfiles.sh 
check_deployment.sh